.menu-vertical-flex {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 400px;
  padding: 20px;
}

.menu-vertical-flex hr {
  width: 150px;
}

.menu-vertical-flex > * + * {
  margin-top: 1.5em;
}

.menu-vertical-flex img {
  max-height: 300px;
}

.menu-button a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mobile-pdf {
  display: none;
}

.desktop-pdf {
  display: block;
}

.coffee-menu {
  margin-top: 10px;
}

.captains-list {
  margin-top: 15px;
}

.menu-vertical-flex .happy-hour .menu-image {
  display: block;
  width: 300px;
}
.menu-vertical-flex .happy-hour {
  width: 100vw;
  align-items: flex-start;
}
.menu-vertical-flex .happy-hour .bonus {
  max-height: 120px;
}
.happy-hour.active {
  display: none;
}
.happy-hour.during-happy-hours {
  display: none;
}
.happy-hour.during-happy-hours.active {
  display: flex;
}

@media only screen and (max-device-width: 480px) {
  .menu-vertical-flex {
    width: 100%;
  }

  .menu-vertical-flex img {
    max-height: 600px;
  }
  .menu-vertical-flex .happy-hour .menu-image {
    width: 600px;
  }
  .menu-vertical-flex .happy-hour .bonus {
    display: none;
  }

  .menu-vertical-flex hr {
    width: 50%;
  }

  .mobile-pdf {
    display: block;
  }

  .desktop-pdf {
    display: none;
  }
}
