.menu-vertical-flex {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 400px;
  padding: 20px;
}

.menu-vertical-flex hr {
  width: 150px;
}

.menu-vertical-flex > * + * {
  margin-top: 1.5em;
}

.menu-vertical-flex img {
  max-height: 300px;
}
